.home-page-header {
    font-size: 54px;
    text-align: left;
    padding-left: 20px;
    margin-top: -22px;
    margin-bottom: 10px;
}
  
.home-page-header-2 {
    font-size: 34px;
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
}
  
.page-header-left-1 {
    font-size: 54px;
    text-align: left;
    padding-left: 20px;
    margin-top: 24px;
}
  
.page-header-left-2 {
    font-size: 34px;
    text-align: left;
    padding-left: 20px;
    margin-top: 24px;
}
  
.page-header-left-3 {
    font-size: 28px;
    text-align: left;
    padding-left: 20px;
    margin-top: 24px;
}

.page-header-left-4 {
    font-size: 22px;
    text-align: left;
    padding-left: 20px;
    margin-top: 4px;
}
  
.page-header-right-1 {
    font-size: 54px;
    text-align: right;
    padding-right: 20px;
    margin-top: 24px;
}
  
.page-header-right-2 {
    font-size: 34px;
    text-align: right;
    padding-right: 20px;
    margin-top: 24px;
}

.body-text-left {
    font-size: 18px;
    margin-top: -10px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    line-height: 26px;
    margin-bottom: 32px;
    margin-right: 10px;
}
  
.body-text-right {
    font-size: 18px;
    text-align: right;
    margin-top: -10px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    line-height: 26px;
    margin-bottom: 32px;
    margin-right: 10px;
}

.home-large-image-right {
    padding-right: 40px;
}

.home-large-image-right img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    margin-top: -10px;
}

.home-large-image-left {
    padding-left: 40px;
}

.home-large-image-left img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    margin-top: -10px;
}

.home-small-image img {
    max-width: 160px;
    height: auto;
    margin: 5px;
    margin-top: 30px;
}